/* login.module.scss */

.login__container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
    z-index: 1;
  }
  .login__theam {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, black, transparent);
    left: 0;
  }
}

.login__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login__form {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  padding: 40px;
  background: linear-gradient(135deg, #272727, #1a1a1a);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.login__form_title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.login__form_container {
  display: flex;
  flex-direction: column;
}

.login__form_input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.login__form_button {
  background-color: #eb0000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.login__form_button:hover {
  background-color: #750b14;
}

.login__form_checkbox_container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.login__form_checkbox {
  margin-right: 5px;
}

.login__form_link {
  color: #0071eb;
  text-decoration: none;
  transition: color 0.3s;
}

.login__form_link:hover {
  color: #0056b3;
}
