.movie__card {
  position: relative;
  flex: 0 0 250px;
  margin-right: 10px;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }

    p {
      margin: 0;
      color: white;
    }

    button.movie__card_like {
      appearance: none;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      color: inherit;
      font-size: inherit;
      position: absolute;
      top: 10px;
      left: 10px;
      color: white;
      font-size: 24px;
    }
  }

  &:hover > div {
    display: flex;
  }
}
