
.searchPage {
  background-image: url('https://klike.net/uploads/posts/2022-11/1667723052_8-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  min-height: 100vh;
  padding-top: 6%;
}


.searchResults {
  background-color: rgba(255, 255, 255, 0.7); 
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px;
  margin-top: 20px;
}

.searchResultItem {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #fff;
  padding: 20px;
  text-align: center;
  color: #fff;
  transition: transform 0.2s ease-in-out;
  cursor: pointer; 
}


.searchResultImage {
  max-width: 100%;
  height: auto;
}

.noResults {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #fff;
}
