/* Обертка для SearchPage */
.searchPage {
  background-image: url('https://klike.net/uploads/posts/2022-11/1667723052_8-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Выравнивание по центру по горизонтали */
  justify-content: center; /* Выравнивание по центру по вертикали */
  min-height: 100vh; /* Минимальная высота экрана */
  padding-top: 6%;
}

/* Контейнер для результатов поиска */
.searchResults {
  background-color: rgba(255, 255, 255, 0.7); /* Белый полупрозрачный фон */
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на следующую строку */
  justify-content: center; /* Центрируем элементы по горизонтали */
  gap: 20px;
  margin-top: 20px;
}

/* Стили для элемента результатов поиска */
.searchResultItem {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #fff;
  padding: 20px;
  text-align: center;
  color: #fff;
  transition: transform 0.2s ease-in-out;
  cursor: pointer; /* Изменяем курсор при наведении */
}

/* Стили для изображения результатов поиска */
.searchResultImage {
  max-width: 100%;
  height: auto;
}

/* Стили для текста "No Results" */
.noResults {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #fff; /* Цвет текста */
}
