.navbar__container {
  position: fixed; /* Используем position: fixed для фиксированного расположения */
  top: 0; /* Закрепляем Navbar вверху страницы */
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  z-index: 100;
  width: 100%;
  height: 80px; /* Задаем фиксированную высоту Navbar */

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__logo {
    margin-left: 30px;
    font-size: 50px;
    color: #ff6b6b;
  }

  .navbar__in,
  .navbar__up {
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    margin-right: 10px;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;

    &:hover {
      background-color: #ff8f8f;
      transform: scale(1.05);
    }

    @media (max-width: 768px) {
      margin-top: 10px;
    }
  }
}
